html {
  height: 100%;
  width: 100%;
}

#status {
  font-family: Hack;
}

.control-panel button {
  display: inline-block;
}
table {
  border-collapse: collapse;
  border: 1px solid black;
  font-size: 1.04em;
}
table td {
  border: 2px solid black;
}
.title {
font-weight: bold;
}
.entry {
cursor: pointer;
user-select: none;
}
